.img-scale {
  width: 150px;
}

.big-pad {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.row-borders {
  border-bottom: solid #F2F2F2 1px;
  border-top: solid #F2F2F2 1px;
}
.line-border {
  border: solid #F2F2F2 1px;
}

.no-padding{
  padding: 0px;
}

.rounded-border {
  border-radius: 5px;
  border: solid #00ACC1 1px;
}
.tiny-pad {
  padding: 1px;
  color: #666;
}

.numberCircle {
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 25px;
    height: 25px;
    padding: 4px;

    background: #fff;
    border: 1px solid #00ACC1;
    color: #00ACC1;
    text-align: center;

    font: 16px Arial, sans-serif;
}

.non-reactive {
  width: 300px;

}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
